.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#quote-box {
  border: 1px solid black;
  border-style: outset;
  width: 40%;
  margin: auto;
  height: 10em;
  /* margin-top: 4em; */
  border-radius: 10px;
}
#text {
  height: 50px;
  text-align: center;
  margin-top: 2em;
}
#author {
  margin-right: 1em;
}
#body {
  height: 100vh;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;
}
.social-media-container {
  margin-left: -2em;
}
.quote-container {
  margin-right: -2em;
}
#tweet-quote {
  margin-right: .2em;
}
#quote-button {
  float: right;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
