.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#quote-box {
  border: 2px solid blue;
  width: 40%;
  margin: auto;
  margin-top: 5em;
  height: 10em;

}
#text {
  color: white;
  height: 50px;
}
#author {
  color: white;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;
}
.social-media-container {
  margin-left: -2em;
}
.quote-container {
  margin-right: -2em;
}
#quote-button {
  float: right;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
